groups:
  - name: node_alerts
    rules:
      - alert: HostDown
        expr: up == 0
        for: 1m # Wait 1 minute before firing
        labels:
          severity: critical
        annotations:
          summary: Host {{ '{{' }} $labels.instance {{ '}}' }} - {{ '{{' }} $labels.service {{ '}}' }} is down
          description: "Host has been down for more than 1 minute"

      - alert: HostHighDowntime
        expr: (sum_over_time(up[24h]) / count_over_time(up[24h])) * 100 < 95
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: Host {{ '{{' }} $labels.instance {{ '}}' }} - {{ '{{' }} $labels.service {{ '}}' }} has high downtime
          description: "Host uptime is below 95% in the last 24 hours"

      - alert: HighCPUUsage
        expr: 100 - (avg by(instance) (rate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 85
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: High CPU usage on {{ '{{' }} $labels.instance {{ '}}' }} - {{ '{{' }} $labels.service {{ '}}' }}
          description: CPU usage is above 85% for more than 5 minutes

      - alert: HighMemoryUsage
        expr: (node_memory_MemTotal_bytes - node_memory_MemAvailable_bytes) / node_memory_MemTotal_bytes * 100 > 85
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: High memory usage on {{ '{{' }} $labels.instance {{ '}}' }} - {{ '{{' }} $labels.service {{ '}}' }}
          description: Memory usage is above 85% for more than 5 minutes

      - alert: DiskSpaceRunningOut
        expr: (node_filesystem_size_bytes - node_filesystem_free_bytes) / node_filesystem_size_bytes * 100 > 85
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: Disk space running out on {{ '{{' }} $labels.instance {{ '}}' }} - {{ '{{' }} $labels.service {{ '}}' }}
          description: Disk usage is above 85% for more than 5 minutes
